# Git
.git
.gitignore

# Docker
.docker

# Node
node_modules
npm-debug.log

# Environment
.env
.env.*

# IDE
.idea
.vscode

# OS
.DS_Store

# Tests
coverage

# Temp files
*.log
*.tmp

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# IDE
**/.idea
**/.vscode
**/*.swp
**/*.swo

# Uploads
**/server/uploads/*
!**/server/uploads/.gitkeep

# flyctl launch added from client/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
client/**/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/**/.DS_Store
client/**/.env.local
client/**/.env.development.local
client/**/.env.test.local
client/**/.env.production.local

client/**/npm-debug.log*
client/**/yarn-debug.log*
client/**/yarn-error.log*
fly.toml
